.box
  %div.ui.centered.raised.link.card
    %div.image
      = link_to (image_tag pin.image.thumb.url.to_s, class: "ui image fluid"), pin
    .content
      %img.mavatar.ui.avatar.right.floated.image{src: "#{pin.user.avatar.thumb.url}"}
      %b
        = pin.user.username
      .meta
        %span.date
          = pin.created_at.to_date
      .description
        = pin.title[0..45] + "..."
    .extra.content
      .save{class: "#{pin.id}"}
        = render "save/form", savable: pin
      .like{class:"#{pin.id}"}
        = render "likes/form", likeable: pin
