%div.ui.segment
  %div.ui.two.column.centered.stackable.grid
    = link_to @pin.pin_url, target: "_blank", class: "ui left corner label" do
      %i.clone.icon
    %div.eleven.wide.column
      - case @pin.parent_provider
      - when "Instagram"
        = @pin.oembed_str.html_safe
      - when "YouTube"
        .ui.embed
          = @pin.oembed_str.html_safe
      - when "Vine"
        .ui.embed
          = @pin.oembed_str.html_safe
      - when "SoundCloud"
        .ui.embed
          = @pin.oembed_str.html_safe
      - when ""
        = link_to (image_tag @pin.image_url.to_s, :class => "ui centered fluid image"), @pin.pin_url, target: "_blank"
    %div.five.wide.column
      %div.ui.mini.right.floated.basic.icon.dropdown.pointing.floating.button
        %i.setting.icon
        %div.menu
          - if @pin.user != current_user
            .item
              Report this
          - if can? :update, @pin
            = link_to "Edit", edit_pin_path(@pin), class: "item"
          - if can? :destroy, @pin
            = link_to 'Delete', @pin, method: :delete, data: { confirm: 'Are you sure?' },class: "item"
      %img.ui.avatar.image{:src => "#{@pin.user.avatar_url}"}/
      = @pin.user.username
      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      = link_to @pin.board.name, user_board_path(@pin.user.username, @pin.board.id),class: "ui mini tag red label"
      %div.ui.divider
      %div.ui.content
        .ui.header
          = @pin.title
        Pin from:
        %b
          = link_to @pin.parent_provider, @pin.pin_url, target: "_blank"
        %div.ui.divider
  %div.ui.divider
  %div.ui.two.column.centered.stackable.grid
    %div.eleven.wide.column
      - @pin.genre_list.each do |c|
        %a.ui.mini.horizontal.teal.label
          = c
    %div.five.wide.column
      .save{class: "#{@pin.id}"}
        = render "save/form", savable: @pin
      .like{class: "#{@pin.id}"}
        = render 'likes/form', likeable: @pin
.ui.header
  Suggestions
.ui.divider

= react_component("Pins", {data: {pins:@pins}})
