.ui.basic.modal
  %br
  %br
  .ui.fluid.raised.card
    %div.image.item
      = image_tag @pin.image_url.to_s, :class => "ui centered fluid image"
    %div.content
      %span.right.floated.likebutton
        = react_component("LikeButton",{pin: @pin})
      .pintitle
        = @pin.title
  .ui.fluid.raised.card
    %div.image.item
      = image_tag @pin.image_url.to_s, :class => "ui centered fluid image"
    %div.content
      %span.right.floated.likebutton
        = react_component("LikeButton",{pin: @pin})
      .pintitle
        = @pin.title
  .ui.fluid.raised.card
    %div.image.item
      = image_tag @pin.image_url.to_s, :class => "ui centered fluid image"
    %div.content
      %span.right.floated.likebutton
        = react_component("LikeButton",{pin: @pin})
      .pintitle
        = @pin.title
  %br
  %br
%br

%div.story
  .ui.z-segment
    %div.ui.two.column.stackable.grid
      %div.twelve.wide.column
        .ui.fluid.raised.card
          %div.image.item
          - case @pin.parent_provider
          - when "Instagram"
            = @pin.oembed_str.html_safe
          - when "YouTube"
            .ui.embed
              = @pin.oembed_str.html_safe
          - when "Vine"
            .ui.embed
              = @pin.oembed_str.html_safe
          - when "SoundCloud"
            .ui.embed
              = @pin.oembed_str.html_safe
          - when ""
            = link_to (image_tag @pin.image_url.to_s, :class => "ui centered fluid image"), @pin.pin_url, target: "_blank"
          %div.content
            %span.right.floated.likebutton
              = react_component("LikeButton",{pin: @pin})
            .pintitle.show
              = @pin.title
      %div.four.wide.column
        %span
          %h5.ui.header
            %img.ui.circular.z-tiny.image{src: "#{@pin.user.avatar.mini.url}"}
            = @pin.user.username
          .ui.divider
          %a.ui.tag.teal.tiny.label{href: "/#{@pin.user.username}/board/#{@pin.board.id}"}
            = @pin.board.name
        .savebutton
          = react_component('SaveButton',{pin: @pin})

%br
%br

.ui.horizontal.divider
  You May like
= react_component('PinsTest', {data: @pins})
