%b By :
%a.ui.mini.tag.blue.label
  - if @pin.user == current_user
    You
  - else
    = @pin.user.username

- if @pin.board != nil
  = link_to @pin.board.name, user_board_path(@pin.user.username, @pin.board.id),class: "ui mini tag red label"
- else
  %a.ui.mini.tag.red.label
    unknown
%a.ui.mini.tag.teal.label
  - if @pin.category != nil
    = @pin.category.name
  - else
    unknown
%div.ui.segment
  %div.ui.two.column.stackable.grid
    = link_to @pin.pin_url, target: "_blank", class: "ui left corner label" do
      %i.clone.icon
    %div.ten.wide.column
      - case @pin.parent_provider
      - when "Instagram"
        .ui.centered.fluid.image
          = @pin.oembed_str.html_safe
      - when "YouTube"
        -# - if !@pin.oembed_str
        -# .ui.embed{"data-id" => "#{@pin.pin_url.split('v=')[1]}", "data-placeholder" => "#{@pin.image_url.to_s}", "data-source" => "youtube"}
        -# - else
        -#   .ui.embed
        .ui.embed
          = @pin.oembed_str.html_safe
      - when "Vine"
        .ui.embed
          = @pin.oembed_str.html_safe
      - when "SoundCloud"
        .ui.embed
          = @pin.oembed_str.html_safe
      - when ""
        = link_to (image_tag @pin.image_url.to_s, :class => "ui centered fluid image"), @pin.pin_url, target: "_blank"
      -# .ui.embed{"data-icon" => "right circle arrow", "data-placeholder" => "#{@pin.image_url.to_s}", "data-url" => "#{@pin.html}"}
      -# .ui.embed{"data-id" => "#{@pin.pin_url.split('v=')[1]}", "data-placeholder" => "#{@pin.image_url.to_s}", "data-source" => "youtube"}
      -# .ui.embed{"data-icon" => "right circle arrow", "data-placeholder" => "#{@pin.image_url.to_s}", "data-url" => "#{@pin.pin_url}"}
      %div.ui.divider
      #like{id:"#{@pin.id}"}
        = render 'likes/form', likeable: @pin
    %div.six.wide.column
      - if can? :update, @pin
        = link_to "Edit", edit_pin_path(@pin), class: "ui mini green button"
      - if can? :destroy, @pin
        = link_to 'Delete', @pin, method: :delete, data: { confirm: 'Are you sure?' },class: "ui mini red button"
      %div.pincontent
        %h2.ui.header
          = @pin.title
        %div.ui.divider
        %p.description
          = @pin.description


.ui.header
  Suggestions
.ui.divider
.pins.transitions-enabled
  = render Board.find(@pin.board_id).pins.sample(8)
