.dp.ui.centered.fluid.image
  .dp.ui.segment{style: "background-image: url('#{user.avatar.thumb.url.to_s}'); background-repeat: no-repeat;  background-size: cover; background-position: top"}
    - if current_user == user
      #editavatar.ui.mini.icon.right.floated.button
        %i.pencil.icon
.ui.centered.card
  .content
    .header
      = user.username
    .meta
      = user.about
    .description
      = user.location
    .ui.horizontal.divider
      #follow{id:"#{user.id}"}
        = render "follows/form", user: user
    .userstates
      = render "shared/userstates", user: user

- if current_user == user
  .ui.small.avatar.modal
    .header
      Edit Avatar
    .image.content
      .ui.medium.image
        %img{:src => "#{user.avatar_url}", :id => "img_avatar_prev"}/
      .description
        %br
        .ui.header Please upload image file
        = simple_form_for(user, as: :user, url: registration_path(user), html: { method: :put }) do |f|
          = f.input :avatar, class:"ui button", label: false
          = f.button :submit, value: "Save", class: "ui basic disabled button", id: "av_submit"
    .actions
      .ui.black.deny.button
        Cancel
