!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title Zdevise
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - flash.each do |type, msg|
      - if type == 'notice'
        :javascript
            toastr.info('#{msg}')
      - if type == 'alert'
        :javascript
            toastr.warning('#{msg}')
      - if type == 'error'
        :javascript
            toastr.error('#{msg}')
    = link_to "logout", destroy_user_session_path, method: :delete, class: "ui red basic button"

    = link_to "Edit profile", edit_user_registration_path, class: "ui blue basic button"

    = link_to "New Pin", new_pin_path, class: "ui blue basic button"
    #content
      = yield
