!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title Zdevise
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div.ui.top.fixed.mini.menu
      %div.ui.container
        %div.item
          = link_to "Board", root_path, class: "ui circular google plus icon button"
        %div.right.menu
        - if user_signed_in?
          %div.item
            = link_to "New", new_pin_path, class: "ui basic green button"
          %div.item.ui.pointing.dropdown.button
            = current_user.username
            %div.menu
              = link_to "Profile", profile_path(current_user.username), class: "item"
              = link_to "Find Artists", findfriend_path, class: "item"
          %div.item
            = link_to destroy_user_session_path, method: :delete, class: "ui circular google plus icon button" do
              %i.power.icon
        - else
          %div.item
            = link_to "Sign In", new_user_session_path, class: "ui basic blue button"
          %div.item
            = link_to "Sign Up", new_user_registration_path, class: "ui basic grey button"

    - flash.each do |type, msg|
      - if type == 'notice'
        :javascript
            toastr.info('#{msg}')
      - if type == 'alert'
        :javascript
            toastr.warning('#{msg}')
      - if type == 'error'
        :javascript
            toastr.error('#{msg}')
    #content
      %div.ui.container
        =yield
