!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=0.9, user-scalable=no", :name => "viewport"}
    %title MUSIC | ZERIFF
    %link{:rel => "shortcut icon", :href => "/logo.png"}
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %div.ui.top.fixed.tiny.borderless.menu
      %div.ui.container
        %div.item
          = link_to (image_tag "/logo.png", class: "ui mini circular image"), root_path
        - if user_signed_in?
          %div.right.menu
            %div.item
              = link_to "New", new_pin_path, class: "ui circular basic black button"
            %div.item.ui.floating.top.right.pointing.dropdown.button
              %img.ui.mini.circular.image{src: "#{current_user.avatar.mini.url}"}
              %div.menu
                = link_to "Profile", profile_path(current_user.username), class: "item"
                = link_to "Find Artists", findfriend_path, class: "item"
                = link_to "Saved Pins", saved_pins_path(current_user.username), class: "item"
                = link_to "Logout", destroy_user_session_path, method: :delete, class: "item"
        - else
          %div.right.menu
            %div.item
              = link_to "Sign In", new_user_session_path, class: "ui basic blue button"
            %div.item
              = link_to "Sign Up", new_user_registration_path, class: "ui basic grey button"

    - flash.each do |type, msg|
      - if type == 'notice'
        :javascript
            toastr.info('#{msg}')
      - if type == 'alert'
        :javascript
            toastr.warning('#{msg}')
      - if type == 'error'
        :javascript
            toastr.error('#{msg}')
    #content
      -# %div.ui.container
      =yield
